*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url(./images/pexels-harun-tan-3980364.jpg);
    background-size: cover;
}

